<!-- <div class="box" (click)=select(item.title)>
  
      <h1> {{item.title}}</h1>
      <div class="content">
        <img width="100" height="100" src="assets/images/{{item.img}}"/>
        <div class="desc">
          {{item.description}}
        </div>
        <div class="price">{{item.price}}</div>
      </div>
    </div> -->

    <div class="box" (click)=select(item.title)>
      
          <h1> {{item.title}}</h1>
          <div class="content">
            <img width="100" height="100" src="{{item.img}}"/>
            <div class="desc">
              {{item.description}}
            </div>
            <div class="price">{{item.price}}</div>
          </div>
        </div>
